<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body id="page-top">

  <% if Helpers.is_logged_in?(session) %>
    <h1>Hello <%= @user.username %></h1>
    <h3><a href='/logout'>Logout</a></h3>
  <% else %>
    <h3>Please log in on the <a href='/'>homepage</a></h3>
  <% end %>
  



    

  </body>
</html>