<html>
  <head>
    <title>Admin Area</title>
  </head>
  <body>
  <style> 
    .head_main {
      width: 100%;
      height: 8%;
      background-color: rgb(16, 16, 172);
    }

    .head_main h1 {
      color: white;
    }

    .nav {
      display: inline-flex;
      width: 100%;
      height: 100%;
      justify-content: center;
      align-items: center;
    }

    .nbutton {
      justify-self: center;
      align-self: flex-end;
      background-color: rgb(16, 16, 172);
      font-size: 2em;
      color: white;
      border: none;
      border-right: solid 3px white;
      padding-left: 30px;
      padding-right: 30px;
      # padding-bottom: 10px;
      # margin-bottom: 10px;
    }

    .nbutton_last {
      justify-self: center;
      align-self: flex-end;
      background-color: rgb(16, 16, 172);
      font-size: 2em;
      color: white;
      border: none;
      border-right: none;
      padding-left: 30px;
      padding-right: 30px;
      # padding-bottom: 10px;
      # margin-bottom: 10px;
    }

    .nbutton:hover {
      font-weight: bold;
      cursor: pointer;
    }

    .nbutton_last:hover {
      font-weight: bold;
      cursor: pointer;
    }

    .flash {
      background-color: rgb(231, 129, 129);
      border: black solid 1px;
      margin-top: 15px;
      margin-left: 30px;
      width: 400px;
    }
    
    .message {
      display: inline-flex;
      align-items: center;
    }

  </style>

  <div class="head_main">

    <div class="nav">
        <a href="/proposals"><button class="nbutton">Proposals</button></a>

        <% if session[:id] == nil %>
          <a href="/accounts"><button class="nbutton_last">Accounts</button></a>
        <% else %>
          <a href="/accounts"><button class="nbutton">Accounts</button></a>
          <a href="/logout"><button class="nbutton_last">Logout</button></a>
        <% end %>
    </div>

    
  </div>

    <% if flash.has?(:messages) && flash.has?(:ids) != nil %>
      <% flash_message_ids = flash[:ids] %>

      <div class="flash">
        <% flash[:messages].each do |message| %>
          <div class="messages">
            <div class="message">
              => <%= message %>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>

    <% if flash.has?(:message) %>
      <div class="flash"
        <div class="message">
          => <%= flash[:message] %>
        </div>
      </div>
    <% end %>
    
    <%= yield %>
  </body>
</html>

