<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body id="page-top">
    <h1>Welcome to the Konica Minolta Proposal Generator!</h1>
    <h3>Please Login</h3>

    <% if flash.has?(:message) %>

    <div>
      <div><%= flash[:message] %></div>
    </div>
    <% end %>
    
    <form action='/login' method="post">
    <p>
      <lable>username</lable>
        <input type="string" name="username">
    </p>
    <p>
      <lable>password</lable>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
    </form>

    <p>Not a user? <a href="/signup">create username.</a></p>

  </body>
</html>