<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body id="page-top">
    <h1>Enter your username and password to create your account: </h1>

    <form action='/signup' method="post">
    <p>
      <lable>username</lable>
        <input type="string" name="username">
    </p>
    <p>
      <lable>password</lable>
        <input type="password" name="password">
    </p>
    <p>
        <input type="submit">
    </p>
    </form>